* {
  box-sizing: border-box;
}

body,
html {
  /* cursor: none; */
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: #050f2b;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

p {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

.desktop {
  display: none;
}
.mobile {
  display: block;
}

.header {
  position: relative;
  background-color: #050f2b;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-image: url("../images/header-res-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logos {
  position: absolute;
  top: 25px;
  left: 5vw;
  /* display: flex; */
  /* flex-direction: column; */
  width: 10rem;
}

.logos img {
  width: 100%;
}

.constelacion {
  /* position: absolute; */
  z-index: 50;
  margin: auto;
  width: 90vw;
}

.space,
.earth,
.water {
  display: none;
}

.category path {
  fill: #fff;
  stroke: transparent;
  stroke-width: 0.5px;
  transition: 0.5s;
}

.space:hover path {
  /* fill: transparent; */
  /* stroke: #fff; */
  transform: scale(1.02);
}

.earth:hover path {
  /* fill: transparent; */
  /* stroke: #fff; */
  transform: scale(1.02);
  transform-origin: right bottom;
}

.water:hover path {
  /* fill: transparent; */
  /* stroke: #fff; */
  transform: scale(1.02);
  transform-origin: bottom right;
}

.space-hover {
  position: relative;
  z-index: 50;
}
ul {
  list-style: none;
}

li {
  list-style-type: none;
}
ul#scene {
  width: 100%;
  position: absolute;
  height: 100%;
  padding: 0;
  overflow: hidden;
}
ul#scene li {
  width: 100%;
  height: 100%;
  position: relative;
}
ul#scene .cloud {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
ul#scene .cloud.big {
  width: 120vw;
  margin-left: -10vw;
}

section {
  margin: 0;
  padding: 0;
}

.mobile_categories {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 800;
}

.mobile_categories ul span {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid white;
}

.mobile_categories ul li a {
  font-size: 2rem;
}

.home_about {
  position: relative;
  width: 100%;
  padding: 30px 5vw;
}

.home_about_title {
  display: flex;
  flex-direction: column;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.about-butt {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  border: 2px solid #050f2b;
  padding: 10px;
  margin: 0;
  transition: 0.5s;
}

.about-butt:hover {
  background-color: rgba(12, 20, 43, 0.5);
}

.home_about_title-active {
  background-color: #050f2b;
  color: #fff;
}

/* TEAM SECTION */

.team_section {
  padding: 20px 5vw 60px 5vw;
}

.team_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #071438;
  padding-bottom: 8px;
  display: inline-block;
}

.team_profile {
  display: flex;
  flex-direction: column;
}

.profile_name {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.profile_ocupation {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
}

/* RRSS SECTION */

.rrss_section {
  padding: 20px 5vw;
  display: inline-block;
  /* width: 200px; */
}

.rrss_section a {
  display: block;
  font-size: 1.2rem;
}

/* FOOTER SECTION */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 0px 20px 0;
  border-top: 1px solid #050f2b;
  width: 90vw;
  margin: auto;
}

.footer_top_logo {
  width: 120px;
}

.footer_content p {
  font-size: 0.9rem;
}

.footer_bottom_logos {
  width: 100%;
  height: auto;
}

.footer_button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #050f2b;
  padding: 5px 5px;
  background: none;
  -webkit-appearance: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  cursor: pointer;
}

/* CATEGORY PAGE */

.clip-text {
  font-family: "Playfair Display", serif;
  font-size: 30vw;
  font-weight: 700;
  line-height: 1;
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  /* margin: .25em; */
  /* padding: .5em .75em; */
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-image: inherit; */
}

.clip-text_one {
  background-size: cover;
  background-image: url("../images/category-bkg.jpg");
}

.category_items {
  margin: 15vh auto;
  display: flex;
  flex-direction: column-reverse;
}

.category_items > div {
  margin: 100px auto 50px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.category_items div img {
  width: 60%;
}

.category_item-text {
  width: 30%;
}

.category_item-text h3 {
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 0;
}

.category_item-text h5 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 5px 0;
}
