body,
html {
  cursor: none;
  padding: 0;
  margin: 0;
  /* width: 100%; */
  /* height: 100%; */
  background: #8bdbed;
}

.header {
  position: relative;
  background-color: #050F2B;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.constelacion {
  /* position: absolute; */
  z-index: 50;
  margin: auto;
  width: 40vw;
}

.space path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.5px;
  transition: 0.5s;
}

.space:hover path {
  fill: #fff;
  transform: scale(1.02);
  /* transform: translateX(0%); */
  /* transform-origin: right top; */
}



ul {
  list-style: none;
}

li {
  list-style-type: none;
}

ul#scene {
  width: 100%;
  position: absolute;
  height: 100%;
}
ul#scene li {
  width: 100%;
  height: 100%;
  position: relative;
}
ul#scene .cloud {
  width: 100%;
  /* margin-left: -100px; */
  /* margin-bottom: -100px; */
  position: absolute;
  bottom: 0;
}
ul#scene .cloud.big {
  width: 120vw;
  margin-left: -200px;
}

#cursor {
  position: fixed;
  z-index: 100;
  width: 8px;
  height: 8px;
  background-color: #ff8f94;
  border-radius: 50px;
  /* pointer-events: none; */
  background-blend-mode: difference;
  mix-blend-mode: difference;
}

#cursorRound{
  position: fixed;
  z-index: 100;
  /* width: 24px;
  height: 24px; */
  background: none;
  border: solid 2px #ff8f94;
  border-radius: 50px;
  pointer-events: none;
  background-blend-mode: difference;
  mix-blend-mode: difference;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0.7, 1);
}
