@media (min-width: 900px) and (orientation: portrait) {

  /* TEAM SECTION */

  .team_profile-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .profile_title {
    width: 45%;
  }

  .profile_text {
    width: 45%;
  }

  /* SLICK */

  .slick-prev,
  .slick-next
  {
      bottom: 18%;
  }

  .slick-dots
  {
      bottom: 20%;
  }

}


@media (min-width: 1100px) and (orientation: landscape) {

  #cursor {
    position: fixed;
    z-index: 100;
    width: 8px;
    height: 8px;
    background-color: #ff8f94;
    border-radius: 50px;
    /* pointer-events: none; */
    background-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
  }

  #cursorRound{
    position: fixed;
    z-index: 100;
    /* width: 24px;
    height: 24px; */
    background: none;
    border: solid 2px #ff8f94;
    border-radius: 50px;
    pointer-events: none;
    background-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.7, 1);
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .header {
    background-image: none;
  }

  .logos {
    top: 50px;
    left: 2vw;
    width: 15vw;
  }

  .constelacion {
    z-index: 50;
    margin: auto;
    width: 40vw;
    padding: 10vh 0;
  }

  .home_about {
    display: flex;
    flex-direction: row;
    width: 70vw;
    padding: 60px 0;
    margin: auto;
    max-width: 2000px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home_about_title {
    width: 15%;
  }

  .home_about_title h3 {
    font-size: 1.2rem;
  }

  .home_about_text {
    width: 80%;
  }

  .home_about_text p {
    font-size: 1.2rem;
    margin: 0;
  }

  /* TEAM SECTION */

  .team_section {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .team_profile-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .profile_title {
    width: 45%;
  }

  .profile_title img {
    width: 100%;
  }

  .profile_text {
    width: 45%;
  }

  /* SLICK */

  .slick-prev,
  .slick-next
  {
      bottom: 18%;
  }

  .slick-dots
  {
      bottom: 20%;
  }

  /* FOOTER SECTION */

  .footer {
    /* width: 90vw; */
    margin: 30px auto;
    padding-top: 40px;
  }

  .footer img {
    width: 15%;
    max-width: 170px;
  }

  .footer_button:hover {
    display: block;
    background-color: #050F2B;
    color: #fff;
    transition: 0.5s;
    cursor: none;
  }

  /* CATEGORY PAGE */

  .clip-text {
      font-size: 25vw;
      line-height: 1;
      top: -40px;
  }

  .category_items {
    margin: 20vh auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    max-width: 2000px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .category_items > div {
    margin: 90px 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .category_item-div:nth-child(even) {
    margin-top: 55vh;
  }

  .category_items div img {
    width: 100%;
  }

  .category_item-text {
    width: 100%;
  }

  .category_item-text h3 {
    font-size: 1.1rem;
  }

  .category_item-text h5 {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) and (orientation: landscape) {

  p {
    font-size: 1rem;
  }

  .home_about_title h3 {
    font-size: 2rem;
  }

  .footer {
    /* width: 90vw; */
    margin: 50px auto 30px auto;
    padding-top: 40px;
  }

  /* CATEGORY PAGE */

  .clip-text {
      font-size: 25vw;
      line-height: 1;
  }


  .category_items > div {
    margin: 90px 4%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}
