@media (min-width: 760px) and (orientation: portrait) {
  /* FOOTER SECTION */

  .footer {
    padding: 60px 0px 20px 0;
    border-top: 1px solid #050f2b;
    width: 90vw;
    margin: auto;
  }

  .footer_content p {
    font-size: 0.9rem;
  }

  .footer_content {
    width: 50%;
  }

  .footer_button {
    top: 20px;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  /* TEAM SECTION */

  .team_profile-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .profile_title {
    width: 45%;
  }

  .profile_text {
    width: 45%;
  }

  /* SLICK */

  .slick-prev,
  .slick-next {
    bottom: -10%;
  }

  .slick-dots {
    bottom: -10%;
  }
}

@media (min-width: 1100px) and (orientation: landscape) {
  #cursor {
    position: fixed;
    z-index: 100;
    width: 8px;
    height: 8px;
    background-color: #ff8f94;
    border-radius: 50px;
    /* pointer-events: none; */
    background-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
  }

  #cursorRound {
    position: fixed;
    z-index: 100;
    /* width: 24px;
    height: 24px; */
    background: none;
    border: solid 2px #ff8f94;
    border-radius: 50px;
    pointer-events: none;
    background-blend-mode: color-dodge;
    mix-blend-mode: color-dodge;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.2, 0.5, 0.7, 1);
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .header {
    background-image: none;
  }

  .logos {
    top: 50px;
    left: 2vw;
    width: 15vw;
  }

  .constelacion {
    z-index: 50;
    margin: auto;
    width: 40vw;
    padding: 10vh 0;
  }

  .home_about {
    display: flex;
    flex-direction: row;
    width: 70vw;
    padding: 60px 0;
    margin: auto;
    max-width: 2000px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .home_about_title {
    width: 15%;
  }

  .home_about_title h3 {
    font-size: 1.2rem;
  }

  .home_about_text {
    width: 80%;
  }

  .home_about_text p {
    font-size: 1.2rem;
    margin: 0;
  }

  /* TEAM SECTION */

  .team_section {
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .team_profile-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .profile_title {
    width: 45%;
  }

  .profile_title img {
    width: 100%;
  }

  .profile_text {
    width: 45%;
  }

  /* SLICK */

  .slick-prev,
  .slick-next {
    bottom: -5%;
  }

  .slick-dots {
    bottom: -5%;
  }

  /* RRSS SECTION */

  .rrss_section {
    padding: 50px 5vw 10px 5vw;
  }

  /* FOOTER SECTION */

  .footer {
    /* width: 90vw; */
    margin: 30px auto;
    padding-top: 40px;
  }

  .footer_top_logo {
    width: 180px;
  }

  .footer_content p {
    font-size: 0.8rem;
  }

  .footer_content {
    width: 50%;
  }

  .footer_button {
    top: 20px;
  }

  .footer_button:hover {
    display: block;
    background-color: #050f2b;
    color: #fff;
    transition: 0.5s;
    cursor: none;
  }

  /* CATEGORY PAGE */

  .clip-text {
    font-size: 30vw;
    line-height: 1;
    top: -40px;
  }

  /* CATEGORY MENU */

  .category_menu {
    margin-top: 0vh;
    position: fixed;
    left: 0vw;
    display: inline-block;
  }

  .category_menu li {
    display: block;
    margin: 5px 0px;
    width: 100px;
  }

  .category_menu li a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  /* CATEGORY ITEMS */

  .category_items {
    margin: 30vh auto 10vh auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    max-width: 2000px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .category_items > div {
    margin: 0px 4%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .category_item-div:nth-child(even) {
    margin-top: 200px;
  }

  .category_item-div--text {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 2px;
  }

  .category_item-div--text h3 {
    margin-top: 0;
  }

  .category_items div img {
    width: 100%;
  }

  .category_item-text {
    width: 100%;
  }

  .category_item-text h3 {
    font-size: 1.1rem;
  }

  .category_item-text h5 {
    font-size: 1rem;
  }

  /* PROJECT SINGLE PAGE */

  .project_menu {
    width: 95vw;
    /* mix-blend-mode: color-burn; */
    right: -30vw;
  }

  .project_menu-fixed {
    position: fixed;
    left: 100px;
  }

  .project_menu h4 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .project_menu h5 {
    font-size: 1rem;
  }

  /* PROJECT PAGE BODY */

  .project_body {
    display: flex;
    align-items: center;
    height: 98.3vh;
    scroll-behavior: smooth;
  }

  .horizontal-scroll-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 98.3vh;
  }

  .horizontal-scroll-wrapper > div {
    /* padding: 0 10vw; */
  }

  .horizontal-scroll-wrapper div:nth-child(even) {
    /* background-color: pink; */
  }

  .project_description {
    padding: 30vh 10vw 0 5vw;
    width: 60vw;
    position: relative;
  }

  .project_title {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .project_title span {
    font-weight: 400;
  }

  .project_description p {
    font-size: 0.9rem;
  }

  .project_authors {
    padding: 0;
  }

  .project_authors li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 1.2rem;
  }

  .project_authors li:nth-child(1) {
    font-weight: 600;
  }

  .autor_division {
    display: inline-block;
    background-color: #050f2b;
    height: 1rem;
    width: 2px;
    vertical-align: middle;
  }

  .project_next_arrow {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 50px;
  }

  .project_next_arrow img {
    width: 100%;
  }

  /* PROJECT VIDEO DIV */
  * {
    box-sizing: border-box;
  }

  .project_video {
    cursor: pointer;
    width: 100vw;
    padding-bottom: 0;
    position: relative;
  }

  .project_video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* PROJECT SECTIONS WITHIN THE SINGLE */

  .project_section {
    width: 60vw;
    padding: 0 10vw;
  }

  .project_section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 98.2vh;
  }

  .project_section-container h3 {
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    align-self: flex-start;
  }

  .project_section-container ul {
    align-self: flex-start;
  }

  /* PROJECT IMAGES */

  .project_img {
    height: 98.3vh;
    /* display: none; */
  }

  .project_img img {
    height: 100%;
    width: 100%;
    /* display: none; */
  }
}

@media (min-width: 1440px) and (orientation: landscape) {
  p {
    font-size: 1rem;
  }

  .logos {
    width: 12vw;
  }

  .home_about_title h3 {
    font-size: 2rem;
  }

  .footer {
    /* width: 90vw; */
    margin: 50px auto 30px auto;
    padding-top: 40px;
  }

  /* CATEGORY PAGE */

  .clip-text {
    font-size: 25vw;
    line-height: 1;
  }

  .category_items > div {
    margin: 90px 4%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* CATEGORY MENU */

  .category_menu {
    top: 40vh;
  }

  /* .category_menu li {
    display: block;
    margin: 5px 0px;
    width: 100px;
  } */

  .category_menu li a {
    font-size: 1.7rem;
    text-transform: uppercase;
  }
}
